<span>Hello, <%=user.userName%></span>
<form>
    <input type='text'>
    <input type='submit' value='Search'>
</form>
<% if (user.store) { %>
    <span>Store: <%=user.store%></span>
<%}%>
<a href="/logout">Log Out</a>