<span>Hello, <%=user.userName%></span>
<form>
    <input type='text'>
    <input type='submit' value='Search'>
</form>
<% if (user.store) { %>
    <a href="/stores/<%=user.store%>">My Store</a>
<%}%>
<a href="/logout">Log Out</a>