<h1>Stores Page</h1>

<h2>List of All Stores</h2>

<% for (store of stores) {%>
    <li><a href="stores/<%= store._id %>"><%= store.name %> - <%= store.user %></a></li>
<% } %>
<h2>Create Your Store</h2>
<form method="POST" action="/stores/createStore">
    <input type="text" name="name">
    <input type="submit">
</form>